<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Listado de Peliculas</h1>
    <button mat-raised-button color="success"  [routerLink]="['/add-movie/']">Nueva Pelicula</button>

    <!--
    <button mat-raised-button color="success" [routerLink]="['/add-movie']">Nueva Pelicula</button>-->
</div>
<mat-divider fxFlex="1 0"></mat-divider>  
  <p *ngIf="MovieData.length <= 0" class="no-data">No existen peliculas para mostrar!</p>
  
  <div class="container" *ngIf="MovieData.length > 0">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef>  ID </th>
          <td mat-cell *matCellDef="let element"> {{element._id}} </td>
        </ng-container>
  
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>  Pelicula </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
  
        <ng-container matColumnDef="publicacion">
          <th mat-header-cell *matHeaderCellDef> Publicacion </th>
          <td mat-cell *matCellDef="let element"> {{element.publicacion}} </td>
        </ng-container>
  
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estado }} </td>
        </ng-container>
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element; let i = index;">
            <button mat-raised-button color="primary" class="push-right"
              [routerLink]="['/edit-movie/', element._id]">Edit</button>
            <button mat-raised-button color="accent" (click)="deleteMovie(i, element)">Delete</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>