<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>Evaluación</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true" [fixedTopGap]="55" >
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon>add</mat-icon> Dashboard
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/movie-list">
        <mat-icon>format_list_bulleted</mat-icon> Peliculas
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>add</mat-icon> Turnos
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>add</mat-icon> Adnistradores
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>add</mat-icon> Perfil
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>add</mat-icon> Cerrar Sesion
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
